<!DOCTYPE html>
<html lang="en" class="dark-theme">
  {% include head.html %}
  <body>
    {% include sidebar.html %}
    {% if site.reading_progress.enabled and page.layout == "post" %}
    {% include reading-progress.html %}
    {% endif %}
    <main class="blogfeed">
      {% include header.html %}
      <section id="article">
        {% if page.thumbnail %}
        <!--  -->
        {% assign page_thumbnail = page.thumbnail %}
        <!--  -->
        {% else %}
        <!--  -->
        {% assign page_thumbnail = '/assets/images/pattern.png' %}
        <!--  -->
        {% endif %}
        <div
          class="article-thumbnail"
          style="
            background-image: url('{{ site.baseurl }}/{{ page_thumbnail }}');
          "
        >
          <h1 class="article-title">{{ page.title }}</h1>
          <div class="article-bottom">
            <small class="article-date">{{page.date | date_to_string}}</small>
            <div class="article-categories">
              {% for c in page.categories %}
              <a href="#!" class="article-category">{{c}}</a>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="article-content">{{ content | parse_link_syntax }}</div>
      </section>
      {% include footer.html %}
    </main>
    {% include category-modal.html%}
  </body>
</html>